//
   Created by loketa on 9/12/16.

extends layout

block headStyle
    link(rel="stylesheet/less",type="text/css", href='/vendor/bootstrap-datepicker-1.6.1-dist/css/bootstrap-datepicker.css')
block headJavascript
    script(src="/vendor/bootstrap-datepicker-1.6.1-dist/js/bootstrap-datepicker.js",type="text/javascript")
    script(src="/javascripts/dateselect.js",type="text/javascript")

block content
    article.col-md-12.jumbotron
        form(action="/staffevent" method="post")
            table.table.table-hover
                tr.text-center
                    td 部门
                    td 姓名
                    td 电话
                    td 状态
                    td 加班
                each user ,i in userlist
                    tr.text-center
                        td #{user.dept}
                        td #{user.username}
                        td #{user.phone}
                        td
                            select.form-control(name="staffevent")
                                option(value="#{user._id}&normal") 正常
                                option(value="#{user._id}&leave") 请假
                                option(value="#{user._id}&late") 迟到
                                option(value="#{user._id}&early") 早退
                                option(value="#{user._id}&absent") 旷工
                        td
                            label.btn.btn-default.btn-clickable(for="#id_overtime_#{i}")
                                span.glyphicon.glyphicon-ok
                            input(id="#id_overtime_#{i}" type="checkbox" name="staffevent" value="#{user._id}&overtime" hidden)

            div.col-md-2.pull-right
                input.btn.btn-lg.btn-primary(type="submit" value="提交")
                a.btn-lg.btn-default(href="/checkwork") 重置

            div.input-group.input-group-lg.pull-right.col-md-4
                span.input-group-addon 选择日期
                input#id_date.form-control.input-date(type="text" name="date")





