//
   Created by loketa on 9/12/16.

extends layout

block content
    article.col-md-12.jumbotron
        form(action="#" method="post")
            table.table.table-hover
                tr.text-center
                    td 部门
                    td 姓名
                    td 电话
                    td 状态
                    td 加班
                each user ,i in userlist
                    tr.text-center
                        td #{user.dept}
                        td #{user.username}
                        td #{user.phone}
                        td
                            select.form-control(name="statu_#{user._id}")
                                option(value="normal") 正常
                                option(value="leave") 请假
                                option(value="late") 迟到
                                option(value="early") 早退
                                option(value="absent") 旷工
                        td
                            label.btn.btn-default.btn-clickable(for="#id_overtime_#{i}")
                                span.glyphicon.glyphicon-ok
                            input(id="#id_overtime_#{i}" type="checkbox" name="overtime" value="#{user._id}" hidden)

            a.pull-right.btn-lg.btn-default(href="/checkwork") 重置
            input.pull-right.btn.btn-lg.btn-primary(type="submit" value="提交")





